@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Kirang+Haerang&family=Pangolin&family=Unbounded:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Great+Vibes&family=Kirang+Haerang&family=Pangolin&family=Unbounded:wght@200..900&display=swap');

body{
  background-color: white;
  padding: 0;
  margin: 0;
}

header{
    background-color: #F4ACB7;
    position: static;
    width: 100%;
    display: inline-flex; /* Maintain flex layout */
    align-items: center; /* Vertically center items */
    color: #FFFFFF;
    padding-right: 20px;
}

header nav{
    display: flex; /* Make nav a flex container */
}

header h1{
  font-family: "Kirang Haerang", system-ui;
  font-weight: 100;
  font-size: 50px;
  margin-right: 0;
  align-items: right;
}

header a{
  font-size: 30px;
  text-decoration: none;
  color: white;
  font-family: "Balsamiq Sans", sans-serif;
  line-height: 50px;
  padding: 5px;
  display: inline;
  justify-content: space-between;
  margin: 10px;
}

.a{
  border-radius: 3px;
  padding: 5px;
}

.a:hover{
  background-color: #9D8189;
  cursor: pointer;
  color:   white;
  border-radius: 3px;
  padding: 5px;
  display: inline;
}

header a:hover{
  cursor: pointer;
  border-radius: 3px;
  padding: 5px;
}

header img{
  width: 80px;
  height: 80px;
  padding-left: 15px;
  align-items: center;
}

main{
  padding: 0;
  margin: 10px;
  background-color: white;
}

main p{
  color: #333335;
  width: 98.5%;

  display: block;
}

.fl{
  text-align: center;
  justify-content: space-around;
  margin: 0;
  display: flex;
}

img{
  height: 270px;
  width: 230px;
  margin: 5px;
}

.goods{
  width: 85%;
  margin: 10px 10px 10px 10px;
  padding: 10px;
  box-shadow: 1px 1px 10px 5px #FFCAD4;
  text-align: center;
}

main h1{
  font-family: "Balsamiq Sans", sans-serif;
  color: #333335;
}

main img{
  border-radius: 15px;
  color: #333335;

  width: 90%;
  display: block;
}

main a{
  text-decoration: none;
  color: #333335;
  margin-top: 10px;

  display: block;
}

main a:hover{
  transition: 0.2s ease-out ;
  color:   #9D8189;
  border-radius: 2px;
}

footer{
  background-color: #F4ACB7;
  color: white;
  padding: 10px;
}

footer p{
  padding-left: 15px;
}

footer p:hover{
  text-decoration: underline #FFE5D9;
  background-color: #9D8189;
  color:  #FFE5D9;
  border-radius: 2px;
  display: inline;
}

footer h3{
  font-family: "Balsamiq Sans", sans-serif;
  padding-left: 15px;
}

footer div{
  flex: 1;
}

header > nav > div:hover > a {
  background-color: #9D8189;
  cursor: pointer;
  color:   white;
  border-radius: 3px;
  padding: 5px;
}

header > nav > div > div {
	display: none;
  overflow: hidden;
  background-color: white; 
	width: 400px;
	position: absolute;
  padding: 2px;
  border: 5px solid #FFCAD4;
  border-radius: 4px;
}

header > nav > div:hover > div {
	display: block;
}

header > nav > div > div > a {
	display: block;
	width: 95%;
	margin: 2%;
	text-align: center;
	color: black;
	border-radius: 2px;
  transition: 0.2s ease;
}

header > nav > div > div > a:hover {
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 1px 1px 10px 5px #D8E2DC;
}

header > nav > div{
    margin-right: 20px;
}